@model DisplayDiff.Models.Display

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Display</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerticalResolution" class="control-label"></label>
                <input asp-for="VerticalResolution" class="form-control" />
                <span asp-validation-for="VerticalResolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorizontalResolution" class="control-label"></label>
                <input asp-for="HorizontalResolution" class="form-control" />
                <span asp-validation-for="HorizontalResolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdaptiveSync" class="control-label"></label>
                <input asp-for="AdaptiveSync" class="form-control" />
                <span asp-validation-for="AdaptiveSync" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PanelType" class="control-label"></label>
                <input asp-for="PanelType" class="form-control" />
                <span asp-validation-for="PanelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagonalLength" class="control-label"></label>
                <input asp-for="DiagonalLength" class="form-control" />
                <span asp-validation-for="DiagonalLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefreshRate" class="control-label"></label>
                <input asp-for="RefreshRate" class="form-control" />
                <span asp-validation-for="RefreshRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullSpecsURL" class="control-label"></label>
                <input asp-for="FullSpecsURL" class="form-control" />
                <span asp-validation-for="FullSpecsURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
